<div id="about_info">
</div>

<div class="shell-wrap">
  <p class="shell-top-bar">/matthew_lefurge/about_me/</p>
  <ul class="shell-body">
    <li>I’ve always been passionate about technology but never knew how I could make it into a career.  It wasn’t until I spoke with my friends in the tech industry that I realized all of the possibilities. Earlier this year I sat down with a friend who attended a coding bootcamp. When he described his experiences and his new career, I immediately knew what I wanted to do with my life. </li>
    <br>
    <li>Working in corporate taxation I often found that I was in my element when I was modeling out complex tax scenarios for various clients. It required my analytical problem solving skills to build the calculation as well as my attention to detail to ensure that I was compliant with the countless statutes listed out in the Internal Revenue Code. Through my learning experiences, on my own and at DBC, I started to realize how programming allows me to combine both my strengths as a problem solver with my passion for technology. </li>
    <br>
    <li>I am excited about a career in an industry that has always interested me and I am looking forward to being part of teams that creates beautiful and amazing things. </li>
  </ul>
</div>
