<div class="contact_container", id="contact_info">

  <div class="contact_header">
    Contact Info
  </div>

  <div class="contact_box">

    <div class="contact_photo_container">
    </div>

    <div class="contact_info_text">
      test text
    </div>

  </div>

</div>
