<div class="projects_container">

  <div class="projects_header", id="projects_info">
    <div class="projects_header_text"> My Projects </div>
    <div class="projects_header_subtext">(click on a project to learn more) </div>
  </div>

  <div class="projects_show_container">
    <div class="projects_show_1", id="card">
    </div>

    <div class="projects_show_2", id="card">
    </div>
  </div>

</div>
