<div class="projects_container">

  <div class="projects_header", id="projects_info">
    <div class="projects_header_text"> My Projects </div>
    <div class="projects_header_subtext">(click on a project to learn more) </div>
  </div>

  <div class="projects_show_container">

    <div class="projects_show">

      <div class="flippable">
        <figure class="front">
          <%= image_tag("stash_image", class: "photo") %>
        </figure>

        <figure class="back">

        </figure>
      </div>

    </div>



    <div class="projects_show">

      <div class="flippable">
        <figure class="front">
          <%= image_tag("stack_image", class: "photo") %>
        </figure>

        <figure class="back">
          INFO 2
        </figure>
      </div>

    </div>

  </div>

</div>


