<div class="video_container">
  <%= video_tag "matts_site_video.mov", controls: false, autoplay: true, loop: true, class: "banner_video", id: "top_page" %>
  <div class="top_menu">
    <div class="left_menu">
      <%= link_to "Matthew LeFurge", root_path(anchor: "top_page") %>
    </div>

    <div class="right_menu">
      <%= link_to "Contact", root_path(anchor: "contact_info"), class: "contact_info_link" %>
    </div>
  </div>

</div>
